@charset "UTF-8";
body{
    background-color: rgb(66, 66, 253);
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    margin: auto;
    color: black;
    height: 400px;
    width: 800px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.473);
}
div{
    text-align: center;
    padding: 8px;
    line-height: 2em;
}
footer{
    color: white;
    text-align: center;
}